{% load static %}

<!DOCTYPE html>
<html lang="ru-RU" dir="ltr"><head>
    <link rel="icon" href="{% static 'main/fonts/favicon.ico' %}" type="image/x-icon">
	<meta charset="UTF-8">


	<title>GramBit.pro - обменник криптовалюты онлайн: Bitcoin (BTC), Tether (USDT), Ripple (XRP), Ethereum (ETH).</title>

	<link rel="dns-prefetch" href="//fonts.googleapis.com">

<link rel="stylesheet" id="open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C400%2C300%2C600%2C700&amp;subset=latin%2Ccyrillic-ext%2Ccyrillic&amp;ver=7.0" type="text/css" media="all">
<link rel="stylesheet" id="theme style-css" href="{% static 'main/css/style.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-css" href="{% static 'main/css/style.min.css' %}" type="text/css" media="all">
<script async src="{% static 'main/js/tag.js' %}"></script><script type="text/javascript" src="{% static 'main/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/script.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery.form.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jcook.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery-window.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/all.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/premiumjs.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'main/fonts/favicon.svg' %}" type="image/svg+xml">
	<link rel="icon" href="{% static 'main/fonts/favicon.svg' %}" type="image/svg+xml">

<meta name="keywords" content>
<meta name="description" content="Онлайн сервис по обмену электронных денег в online - биткойн, тезер, эфир, риппл. Обменять криптовалюту по выгодному курсу.">

		<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/liMarquee.css' %}">
    <script type="text/javascript" src="{% static 'main/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.liMarquee.js' %}"></script>
    <script src="{% static 'main/js/33627fd38d.js' %}" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'main/js/qrcode.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/get-req.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'main/css/paystyles.css' %}">






</head>

<body data-rsssl="1" class="home page-template page-template-exb-pluginpage page-template-exb-pluginpage-php page page-id-151">

    <!--Техобслуживание-->
	<!--<div class="headline">-->
	<!--    Внимание! Сайт на техобслуживании. Некоторые пары обмена могут быть недоступны. Приносим извинения за неудобства.-->
	<!--</div>-->
    <!--Техобслуживание-->



    <div id="container">



        <div id="header">
            <div class="header">
                <div class="header_left">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'main/fonts/logo.svg' %}" alt="Grambit - лучший обменник криптовалют">
                        </a>
                    </div>

                    <div id="menutopped">
                        <div id="topmenu">
                            <div class="topmenu">
                                <ul id="menu-verhnee-menyu-dlya-polzovateley" class="tmenu js_menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="/"><span>Главная</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="/reviews"><span>Отзывы</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-598"><a href="/pravila"><span>Правила сервиса</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-523"><a href="/feedback"><span><b>Создать заявку</b></span></a></li>


</ul>                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header_right">
                    <div class="header_contact">
                        <div class="header_contact-telegram">
                            <img src="{% static 'main/fonts/telegram.svg' %}">
                            <div class="contact_text">
                                <a href="" target="_blank" onclick="ym(85852638,'reachGoal','telega-on')">telegram</a>
                            </div>
                        </div>

                        <div class="header_contact-chat">
                            <a href="" target="_blank">
                            <span><i class="far fa-comment-alt"></i> Онлайн-чат</span>
                            </a>
                        </div>
                    </div>
                </div>


			</div>
            <div class="clear"></div>
		</div>
	</div>

	<div id="cwrap">

		<div class="content">
            <div class="contentzone">



{% block content %}
                {% endblock %}

	<div class="clear"></div>

					<div class="hometext">
				<div class="hometext_ins">
					<div class="hometext_title">
						<div class="hometext_title_ins">
							<!--Приветствуем на сайте обменного пункта!-->
							<h1>Grambit – обменник электронных денег (криптовалюты) online</h1>
						</div>
					</div>
					<!--<p style="color: #303030; font-family: sans-serif; font-size: 14px; font-weight: 100;">          Онлайн обменник криптовалют «Grambit.net» – это сервис, где можно быстро и легко обменять bitcoin, tether, ripple, ethereum и другие криптовалюты по выгодному курсу на rub, eur и usd. Исполнение заявки обычно составляет не более 10 минут. У нас одни из самых низких курсов на обмен криптовалюты в RU-нете.<br />
Мы работаем с такими платёжными системами, как: VISA, MasterCard, Мир (остальные по запросу). Мы не берем дополнительных комиссий при обмене. Регистрация в личном кабинете (https://grambit.biz/register/), даёт Вам преимущества программы лояльности, а реферальная программа позволит зарабатывать со сделок зарегистрировавшихся пользователей.</p>
<p style="caret-color: #000000; color: #000000; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; font-size: 12px;">
-->
                    <p>В настоящее время электронная торговля приобрела значительную актуальность, причем как у частных, так и у юридических лиц и ничего удивительного в этом нет. Эта сфера требует от пользователей максимальной скорости и реакции на все изменения, происходящие на рынке обмена криптовалют.</p>

                    <p>Grambit – не только выгодный обменник криптовалюты, но и эффективный инструмент хеджирования рисков при операциях с электронными деньгами. Нашими клиентами являются как новички, которые только знакомятся с миром криптовалют, так и опытные трейдеры и инвесторы, которым нужен надежный и недорогой способ обмена криптовалют.</p>

                    <p>Обменник криптовалюты Grambit всегда отличался тем, что предоставляет потенциальным клиентам выгодные курсы на обмен, а это обязательно обеспечит получение финансовой выгоды в случае крупного оборота средств. У нас вы сможете быстро и легко обменять Bitcoin (Биткоин), Tether (Тезер), Monero (Монеро), DASH (Даш), Ethereum (Эфириум), Litecoin (Лайткоин) и другие криптовалюты по выгодному курсу на рубли, евро и доллары.</p>
                    <h3>Преимущества обменника криптовалют Grambit</h3>

                    <ul>
                        <li>Во-первых, индивидуальный подход к каждому клиенту, так как обмены осуществляются в ручном режиме.</li>
                        <li>Во-вторых, большое количество направлений обмена.</li>
                        <li>В-третьих, большое количество положительных отзывов на крупных площадках.</li>
                        <li>В-четвёртых, возможность работы с нами в большинстве крупных городов РФ.</li>
                        <li>В пятых, исполнение заявки на обмен, обычно, составляет не более 10 минут.</li>
                    </ul>

                    <p>Разумеется, осуществить обмен возможно при условии соблюдения ряда правил, установленных нашим сервисом. Прежде чем приступить к обмену рекомендуем ознакомиться с правилам сервиса и политикой конфиденциальности. Чтобы обмен прошел без возможных задержек, рекомендуем предварительно убедиться в "чистоте" отправляемой криптовалюты с помощью любого AML сервиса.</p>

                    <h3>Как совершить обмен криптовалюты на Grambit?</h3>

                    Перед совершением обмена рекомендуем ознакомиться с инструкцией по обмену, указанной ниже.
                    Если вам что-то будет не понятно, то пишите в <a href="" target="_blank">онлайн-чат</a> оператору в рабочие часы или нам на почту: <a href="mailto:obmen@grambit.net">obmen@grambit.net</a>

                    <div class="hometext_ins-instruction">
                        <div class="instruction_wrap instruction_wrap-odd">
                            <img src="{% static 'main/fonts/instruction_1.svg' %}">
                            <p>Выберите отдаваемую и<br>получаемую валюты</p>
                        </div>
                        <div class="instruction_wrap instruction_wrap-even">
                            <p>Укажите номер кошелька или счет на<br>который вы хотите получить средства</p>
                            <img src="{% static 'main/fonts/instruction_2.svg' %}">
                        </div>
                        <div class="instruction_wrap instruction_wrap-odd">
                            <img src="{% static 'main/fonts/instruction_3.svg' %}">
                            <p>Укажите свой E-mail и подтвердите, что вы<br>ознакомились с правилами сервиса</p>
                        </div>
                        <div class="instruction_wrap instruction_wrap-even">
                            <p>Произведите оплату и нажмите<br>кнопку “Я оплатил”</p>
                            <img src="{% static 'main/fonts/instruction_4.svg' %}">
                        </div>
                        <div class="instruction_wrap instruction_wrap-odd">
                            <img src="{% static 'main/fonts/instruction_5.svg' %}">
                            <p>Напишите в онлайн-чат оператору,<br>он подтвердит поступление средств</p>
                        </div>
                        <div class="instruction_wrap instruction_wrap-even">
                            <p>Ожидайте обмен, средства поступят<br>в течение 5 минут*</p>
                            <img src="{% static 'main/fonts/instruction_6.svg' %}">
                        </div>
                    </div>

					<h3>Как мы работаем с обменом криптовалюты?</h3>

					<p>Мы работаем с такими платёжными системами, как: VISA, MasterCard, Мир (остальные по запросу). Мы не берем дополнительных комиссий при обмене.
					Регистрация в <a href="/register/">личном кабинете</a>, даёт Вам преимущества программы лояльности, а реферальная программа позволит зарабатывать со сделок зарегистрировавшихся пользователей.</p>

                    <div class="hometext_ins-payments">
                        <img src="{% static 'main/fonts/visa.svg' %}">
                        <img src="{% static 'main/fonts/mastercard.svg' %}">
                        <img src="{% static 'main/fonts/mir.svg' %}">
                        <img src="{% static 'main/fonts/unionpay.svg' %}">
                        <img src="{% static 'main/fonts/jcb.svg' %}">
                        <img src="{% static 'main/fonts/paypal.svg' %}">
                    </div>

					<div class="clear"></div>
				</div>
			</div>



				<div class="clear"></div>
			</div>
			<div class="sidebar">


	<div class="statuswork_widget online"><div class="statuswork_widgetvn">
		<div class="statuswork_widget_text">Оператор <span class="opstatus">online</span></div>
	</div></div>

	{% block login %}
    {% endblock %}

	<div class="widget widget_reviews_div">
		<div class="widget_title">
			<div class="widget_title_ins">
				Отзывы
			</div>
		</div>

		<div class="clear"></div>


	<div class="widget_reviews_line ">
		<div class="widget_reviews_author">Андрей,</div>
		<div class="widget_reviews_date">29.05.2022, 23:52</div>
			<div class="clear"></div>

		<div class="widget_reviews_content">
			Всё быстро и чётко!
		</div>
	</div>

	<div class="widget_reviews_line odd">
		<div class="widget_reviews_author">Олег,</div>
		<div class="widget_reviews_date">09.05.2022, 23:06</div>
			<div class="clear"></div>

		<div class="widget_reviews_content">
			Всё быстро и оперативно. Не первый день работаем.
		</div>
	</div>

	<div class="widget_reviews_line ">
		<div class="widget_reviews_author">руслан ше**********,</div>
		<div class="widget_reviews_date">07.05.2022, 03:54</div>
			<div class="clear"></div>

		<div class="widget_reviews_content">
			Менял первый раз все отлично прошло,оператор отвечал быстро на все…
		</div>
	</div>


		<div class="widget_reviews_more_div">
			<a href="/reviews" class="widget_reviews_more">Все отзывы (93)</a>
			<div class="clear"></div>
		</div>
	</div>

	<div class="widget widget_news_div">
		<div class="widget_title">
			<div class="widget_title_ins">
				Новости
			</div>
		</div>
			<div class="clear"></div>
		<div class="widget_news_line">
		<div class="widget_news_date">
			<div class="wmon">Dec.</div>
			<div class="wdate">18</div>
		</div>
		<div class="widget_news_content">
			<div class="widget_news_text">
				Для многих инвесторов безопасность является ключевым компонентом их личного инвестиционного…
			</div>
			<a href="https://grambit.biz/koshelek-ili-kripto-etp-kak-bezopasnee-hranit-kriptovalyutyi/" class="widget_news_more">Подробнее</a>
		</div>
			<div class="clear"></div>
	</div><div class="widget_news_line">
		<div class="widget_news_date">
			<div class="wmon">Nov.</div>
			<div class="wdate">29</div>
		</div>
		<div class="widget_news_content">
			<div class="widget_news_text">
				Продолжаем наш прошлый материал, посвященной очень интересной теме. С первой…
			</div>
			<a href="https://grambit.biz/pomogaet-li-kriptografiya-v-afganistane-zhenshhinam-i-talibam-chast-2/" class="widget_news_more">Подробнее</a>
		</div>
			<div class="clear"></div>
	</div><div class="widget_news_line">
		<div class="widget_news_date">
			<div class="wmon">Nov.</div>
			<div class="wdate">16</div>
		</div>
		<div class="widget_news_content">
			<div class="widget_news_text">
				Афганистан находится на грани - санкции, инфляция, крах национальной экономики…
			</div>
			<a href="https://grambit.biz/pomogaet-li-kriptografiya-v-afganistane-zhenshhinam-i-talibam-chast-1/" class="widget_news_more">Подробнее</a>
		</div>
			<div class="clear"></div>
	</div>

		<div class="widget_news_more_div">
			<a href="https://grambit.biz/novosti/" class="widget_news_more">Все новости (19)</a>
				<div class="clear"></div>
		</div>
	</div>

<!--Bits.media partner-->
<div class="widget widget_partner">
            <div class="widget_logo">
                <a href="https://bits.media/exchanger/grambit/" class="widget_news_more" rel="nofollow" target="_blank">
                    <img src="{% static 'main/fonts/bitsmedia_widget_partner.svg' %}">
                </a>
            </div>
            <span>Наш обменник на<br>портале bits.media</span>
            <div class="widget_partner_more">
                <a href="https://bits.media/exchanger/grambit/" class="widget_news_more" rel="nofollow" target="_blank">Посмотреть</a>
            </div>
        </div>
<!--Bestchange partner-->
<div class="widget widget_partner">
            <div class="widget_logo">
                <a href="https://www.bestchange.ru/grambit-exchanger.html" class="widget_news_more" rel="nofollow" target="_blank">
                    <img src="{% static 'main/fonts/bestchange_widget_partner.svg' %}">
                </a>
            </div>
            <span>Наш обменник на<br>мониторинге bestchange.ru</span>
            <div class="widget_partner_more">
                <a href="https://www.bestchange.ru/grambit-exchanger.html" class="widget_news_more" rel="nofollow" target="_blank">Посмотреть</a>
            </div>
        </div>
<!--MMGP partner-->
<div class="widget widget_partner">
            <div class="widget_logo">
                <a href="https://mmgp.com/threads/grambit-net-pokupka-i-prodazha-kriptovaljuty-v-spb-msk-ekb-i-dr-gorodax-rf-s2s-cash-in-ljuboj-bank-dostavljaem-nalichnye-kurerom.663275/" class="widget_news_more" rel="nofollow" target="_blank">
                    <img src="{% static 'main/fonts/mmgp_widget_partner.svg' %}">
                </a>
            </div>
            <span>Наша ветка на<br>форуме MMGP</span>
            <div class="widget_partner_more">
                <a href="https://mmgp.com/threads/grambit-net-pokupka-i-prodazha-kriptovaljuty-v-spb-msk-ekb-i-dr-gorodax-rf-s2s-cash-in-ljuboj-bank-dostavljaem-nalichnye-kurerom.663275/" class="widget_news_more" rel="nofollow" target="_blank">Посмотреть</a>
            </div>
        </div>
<!--Cartesius partner-->
<div class="widget widget_partner">
            <div class="widget_logo">
                <a href="https://cartesius.agency" class="widget_news_more" rel="nofollow" target="_blank">
                    <img src="{% static 'main/fonts/cartesius_widget_partner.svg' %}">
                </a>
            </div>
            <span>Наши партнеры<br>юридическая фирма</span>
            <div class="widget_partner_more">
                <a href="https://cartesius.agency" class="widget_news_more" rel="nofollow" target="_blank">Посмотреть</a>
            </div>
        </div>					<div class="clear"></div>
			</div>
				<div class="clear"></div>
		</div>
	</div>

			<div class="partners_div">
	        <div class="partners_div_ins">
				<div class="partners_title">
					Партнеры				</div>
									<div class="partners_one">
						<a href="https://wellcrypto.io/" target="_blank" title="Wellcrypto">							<img src="{% static 'main/images/b-3-1.png' %}" alt="Wellcrypto">
						</a>					</div>
									<div class="partners_one">
						<a href="https://bits.media" target="_blank" title="Bits.media">							<img src="{% static 'main/fonts/bitsmedia.svg' %}" alt="Bits.media">
						</a>					</div>
									<div class="partners_one">
						<a href="https://www.bestchange.ru/" target="_blank" title="bestchange">							<img src="{% static 'main/fonts/bestchange.svg' %}" alt="bestchange">
						</a>					</div>
									<div class="partners_one">
						<a href="https://www.okchanger.ru/" target="_blank" title="OKchanger">							<img src="{% static 'main/images/okchanger-1.png' %}" alt="OKchanger">
						</a>					</div>
									<div class="partners_one">
						<a href="https://amlbot.com/#~Grambit" target="_blank" title="AMLbot">							<img src="{% static 'main/images/88.31.png' %}" alt="AMLbot">
						</a>					</div>


				<div class="clear"></div>
	        </div>
	    </div>


    <div id="footer">

        <div class="footer">

            <div class="footer_logo">

	            <a href="/" alt="Отличное место для обмена криптовалюты">
	                <img src="{% static 'main/fonts/logo_one_color.svg' %}">
	            </a>
	        </div>

	        <div class="footer_wrap">



	            <div class="footer_box">
                    <div class="work_time">
                        <div class="footer_box-title">Время работы сервиса</div>
                        <span>Ежедневно с 10:00 до 22:00, c 23:00 до 09:00 по МСК</span>
                    </div>

	                <div class="footer_statuswork_Widget">

	<div class="statuswork_widget "><div class="statuswork_widgetvn">
		<div class="statuswork_widget_text">Оператор <span class="opstatus">offline</span></div><div class="statuswork_widget_time">06.01.2023 00:29:59</div>
	</div></div>
		                </div>
	                <div class="footer_contacts__contact">
    			        <img src="{% static 'main/fonts/telegram.svg' %}">
    			        <div class="contact_text">
    			            <a href="#" target="_blank">telegram</a>
    			        </div>
    			    </div>
    			    <div class="footer_contacts__contact">
    			        <img src="{% static 'main/fonts/email.svg' %}">
    			        <div class="contact_text">
    			            <a href="mailto:#">Email</a>
    			        </div>
    			    </div>
	            </div>
		    </div>



			<div class="footer_copyright">
                ©2018 – 2023 Grambit.pro – Лучший сервис по обмену криптовалюты            </div>
            <div class="clear"></div>
		</div>
	</div>




<script async src="https://widget.13chats.com/assets/loader.js" data-chats-widget-id="fb7206a7-acce-4823-8af5-d89a96d4758a"></script>


</body></html>