{% extends 'main/layout.html' %}
{% load static %}

	    		
{% block content %}
		
	<div class="thecontent">		
		<h1 class="titlepage">Отзывы</h1>	
	
		

		
		<div class="manyotzivs"><div class="manyotzivsvn">
			<div class="oneotziv" id="review-5244">
			
				<div class="oneotzivleft">
					<div class="oneotdate">29.05.2022, 23:52</div>
					<div class="oneotname">
						
						Андрей
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Всё быстро и чётко!</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5189">
			
				<div class="oneotzivleft">
					<div class="oneotdate">09.05.2022, 23:06</div>
					<div class="oneotname">
						
						Олег
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Всё быстро и оперативно. Не первый день работаем.</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5187">
			
				<div class="oneotzivleft">
					<div class="oneotdate">07.05.2022, 03:54</div>
					<div class="oneotname">
						
						руслан ше**********
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Менял первый раз все отлично прошло,оператор отвечал быстро на все мои сорок вопросов .</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5186">
			
				<div class="oneotzivleft">
					<div class="oneotdate">29.04.2022, 07:04</div>
					<div class="oneotname">
						
						Дмитрий
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Обменник хорош! Курс достойный, сап отличный!</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5185">
			
				<div class="oneotzivleft">
					<div class="oneotdate">22.03.2022, 22:57</div>
					<div class="oneotname">
						
						Александр
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Все прошло успешно. Оперативные и вежливые сотрудники. Спасибо.</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5179">
			
				<div class="oneotzivleft">
					<div class="oneotdate">16.03.2022, 15:23</div>
					<div class="oneotname">
						
						Юлия
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Обмен прошел в течении 15 минут. Обменяла Ethereum на рубли Сбербанк. Благодарю!</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5178">
			
				<div class="oneotzivleft">
					<div class="oneotdate">09.03.2022, 21:54</div>
					<div class="oneotname">
						
						Николай
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Обмен совершили меньше чем за 30 минут.  Я считаю что это быстро! Рекомендую</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5177">
			
				<div class="oneotzivleft">
					<div class="oneotdate">09.03.2022, 17:30</div>
					<div class="oneotname">
						
						Александр
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Отличный обменник. Быстро, оперативно! Консультант компетентен! Рекомендую!!!</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5176">
			
				<div class="oneotzivleft">
					<div class="oneotdate">09.03.2022, 14:57</div>
					<div class="oneotname">
						
						Денис
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Работой сервиса в целом и работой операторов доволен. Менял здесь первый раз. После обмена закрепил сайт в закладках. Скорее всего, вопользуюсь еще.</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5175">
			
				<div class="oneotzivleft">
					<div class="oneotdate">08.03.2022, 12:33</div>
					<div class="oneotname">
						
						Эмиль
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>номер заявки 49882<br>
Все чётко первый раз тут даже не авторизовался оператор Ярослав курировал меня до конца…. сам перевод шёл минуты 3-4<br>
Всем советую</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-5174">
			
				<div class="oneotzivleft">
					<div class="oneotdate">07.03.2022, 18:04</div>
					<div class="oneotname">
						
						Константин
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Все работает. Несколько раз менял – 0 проблем</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4830">
			
				<div class="oneotzivleft">
					<div class="oneotdate">01.03.2022, 20:13</div>
					<div class="oneotname">
						
						Сергей
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Обменяли без проблем AVAX на рубли на зарплатную карту Сбербанка.</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4829">
			
				<div class="oneotzivleft">
					<div class="oneotdate">22.02.2022, 16:48</div>
					<div class="oneotname">
						
						Михаил
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Несколько раз пользовался обменом. Все отлично.</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4828">
			
				<div class="oneotzivleft">
					<div class="oneotdate">21.02.2022, 21:31</div>
					<div class="oneotname">
						
						Алексей
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Чётко и оперативно! Отличная работа!</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4827">
			
				<div class="oneotzivleft">
					<div class="oneotdate">18.02.2022, 14:42</div>
					<div class="oneotname">
						
						Александр
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Всё быстро, просто и понятно! Поддержка супер!</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4826">
			
				<div class="oneotzivleft">
					<div class="oneotdate">13.02.2022, 19:23</div>
					<div class="oneotname">
						
						Олег
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Хороший обменник, большие суммы перевожу без проблем</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4825">
			
				<div class="oneotzivleft">
					<div class="oneotdate">11.02.2022, 19:36</div>
					<div class="oneotname">
						
						Александр К.
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Отличный обменник! Сегодня уже три раза совершил обмен. Всё прошло на ура. Спасибо за классный сервис!</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4824">
			
				<div class="oneotzivleft">
					<div class="oneotdate">01.02.2022, 20:09</div>
					<div class="oneotname">
						
						Салават
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>все хорошо, получил монеты в течении 30 минут, консультант Ярослав оперативно отвечал на все мои вопросы, за это отдельное спасибо. Не плохой сервис, рекомендую 8/10</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4823">
			
				<div class="oneotzivleft">
					<div class="oneotdate">01.02.2022, 13:47</div>
					<div class="oneotname">
						
						Алексей
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Все отлично сработано<br>
даже компенсировали повышение комиссиив момент обменв<br>
7 $  вроде мелоч а приятное впечатление осталось<br>
Всем пекомендую и сам сюда вернусь<br>
 ( при условии что и вдальнейшем будет приятный курс на обмен.)</p>

				</div>
                    <div class="clear"></div>			
			</div>
			<div class="oneotziv" id="review-4822">
			
				<div class="oneotzivleft">
					<div class="oneotdate">26.01.2022, 16:48</div>
					<div class="oneotname">
						
						юрий
						
					</div>
						<div class="clear"></div>
				</div>
				<div class="oneotzivright">
					<p>Спасибо, все прошло отлично</p>

				</div>
                    <div class="clear"></div>			
			</div></div></div>
		<div class="pagenavi"><div class="pagenavi_ins"><span class="current" data-page="1">1</span><a href="https://grambit.biz/otzyivyi/page/2/" rel="next" data-page="2">2</a><a href="https://grambit.biz/otzyivyi/page/3/" rel="next" data-page="3">3</a><a href="https://grambit.biz/otzyivyi/page/4/" rel="next" data-page="4">4</a><a href="https://grambit.biz/otzyivyi/page/5/" rel="next" data-page="5">5</a><a href="https://grambit.biz/otzyivyi/page/2/" data-page="2" rel="next" class="next">→</a><a href="https://grambit.biz/otzyivyi/page/5/" data-page="5" rel="next" class="last">Последняя</a><div class="clear"></div></div></div>
	</div>
				
		
	    			
	
	<div class="clear"></div>
		
	
{% endblock %}